.DS_Store
Library/*
*.userprefs
Temp
*.csproj
*Thumbs.db*
*.pidb
*.sln
build
obj/*
*.swp
*.pyc
*.suo
*.DotSettings
*.unityproj
*.1-csharp.sln.DotSettings.user
*.unitypackage
*firstpass*
*CSharp.dll*
*CSharp.pdb*
*UnityVS*
*ProjectSettings.asset*
*ProjectVersion.txt*