.DS_Store
Library/*
*.userprefs
Temp
*.csproj
*.pidb
*.sln
build
obj/*
*.swp
*.pyc
*.suo
*.DotSettings
*.unityproj
*.1-csharp.sln.DotSettings.user
*.unitypackage
Assets/UnityVS/*
Assets/InAudio/Resources/InAudio/*InAudio*
NonInAudio*
AssetStoreTools*